body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333333;
  }

.container {
    padding: 0 20px;
    width: 1024px;
    margin: 0 auto;
}

h1 {
    background-color: #333333;
    color: #eee;
    font-size: 28px;
    padding: 10px;
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 24px;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}

#main-bio, #contact-info {
    margin: 0;
    margin-bottom: 20px;
}

#bio-image {
    margin-top: 10px;
    padding-right: 10px;
    width: 200px;
    height: 150px;
}

#main-bio {
    width: 70%;
}

#contact-info {
    width: 30%;
    line-height: 1.5em;
}

a {
    color: #d21034;
}

p, ul {
    margin: 0;
    margin-top: 10px;
}

